body {
    background-color: #fff;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1200px;
}

.text-link {
    text-align: center;
    margin-top: 30px;
    font-size: 100px;
    color: brown;
}
